@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    /* custom values, tracking wide spaces out text */
    @apply bg-[#ecf0f3] text-rich-black tracking-wide;
    font-family: 'Poppins', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* have to bold it bc of tailwind */
    @apply font-bold;
  }

  h1 {
    /* for responsiveness - tw starts mobile first */
    @apply text-7xl sm:text-5xl md:text-7xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-md shadow-gray-400 rounded-xl uppercase bg-rich-black text-white p-2 w-32 mr-5 mt-5;
  }

  button:hover {
    @apply bg-[#528998];
  }

  button:hover {
    transition: all 0.4s ease 0s;
  }

  canvas {
    height: 0;
    padding: 0;
  }

  .highlighted-text {
    @apply text-portfolio-blue font-bold;
  }

  .divider1,
  .divider2,
  .divider3,
  .divider4,
  .divider5 {
    aspect-ratio: 1500/150;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .divider1 {
    background-image: url('/layered-peaks-svgs/lp1.svg');
  }
  .divider2 {
    background-image: url('/layered-peaks-svgs/lp2.svg');
  }
  .divider3 {
    background-image: url('/layered-peaks-svgs/lp3.svg');
  }
  .divider4 {
    background-image: url('/layered-peaks-svgs/lp4.svg');
  }
  .divider5 {
    background-image: url('/layered-peaks-svgs/lp5.svg');
  }

  .radio-btn-bio:checked + label {
    background-color: #61a0af;
  }
}
