@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    /* custom values, tracking wide spaces out text */
    @apply bg-[#ecf0f3] text-rich-black tracking-wide;
    font-family: 'Poppins', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* have to bold it bc of tailwind */
    @apply font-bold;
  }

  h1 {
    /* for responsiveness - tw starts mobile first */
    @apply text-7xl sm:text-5xl md:text-7xl;
  }

  h2 {
    @apply text-2xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-rich-black text-white p-2 w-32 ml-5 mt-5;
  }

  .divider1 {
    aspect-ratio: 1500/150;
    /* z-index: -100; */
    /* position: absolute; */
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/lp1.svg');
  }

  .divider2 {
    aspect-ratio: 1500/150;
    /* z-index: -100; */
    /* position: absolute; */
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/lp2.svg');
  }
}
